@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  font-family: "Quicksand", sans-serif;;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
button,
input,
textarea {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a,
a:focus,
input:focus,
textarea:focus,
button:focus,
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Alata", sans-serif;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  border-radius: 18px;
  padding: 10px 30px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background: #2432C1;
}

.main-btn:hover{
  background-color: #8dc8f2;
  color: #fff;
}

/*===== Header =====*/
.bg-header{
  position: relative;
  width: 100%;
  height: 100px;
}

.navbar{
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.navbar .navbar-brand img{
  max-width: 150px;
}

.navbar .nav-item{
  margin: 0 20px;
  font-weight: 500;
  color: #737373;  
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar .nav-item:hover{
  color: #000;
  font-weight: 700;
}

.navbar .nav-item .nav-link.active{
  color: #000;
  font-weight: 700;
}

.navbar-toggler{
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggler-icon{
  position: relative;
  background-image: unset;
  background-color: #2432C1;
  height: 3px;
  margin: 4px 0;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -12px;
}

/*===== Hero =====*/
.bg-hero{
  margin-top: 25px;
}

.bg-hero .hero{
  border-radius: 32px;
  position: relative;
  max-height: 500px;
}

.bg-hero .hero .bg-hero-img{
  width: 100%;
  height: 100%;
  border-radius: 32px;
}

.bg-hero .hero .title-hero{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  padding-top: 80px;
  width: 55%;
}

.bg-hero .hero .title-hero h1{
  font-size: 52px;
}

.bg-hero .hero .title-hero h1 > span{
  color: #2432C1;
}

.bg-hero .hero .title-hero p{
  color: #737373;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
}

/*===== Search Form =====*/
.bg-search{
  margin-top: 50px;
}

.bg-search .search-form{
  background-color: #fff;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 24px;
}

.bg-search .search-form .form-label{
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.bg-search .search-form .form-control,
.bg-search .search-form .form-select{
  background-color: #F8F8F8;
  border: none;
  padding: 14px 22px;
  color: #000;
  font-weight: 500;
}

.bg-search .search-form .form-control::placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search .search-form .form-control::-ms-input-placeholder,
.bg-search .search-form .form-select::-ms-input-placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search .search-form .input-group-text{
  border: none;
  color: #737373;
  font-weight: 600;
  padding-left: 22px;
}

.bg-search .search-form .search-btn{
  height: 100%;
}

/*===== Search From Small Screen =====*/
.bg-search .search-form-sm{
  display: none;
}

.bg-search .search-form-sm .input-group{
  border: 0.1px solid rgba(115, 115, 115, 1);
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
}

.bg-search .search-form-sm .form-control{
  border: none;
  padding: 14px 0px;
  color: #000;
  font-weight: 500;
  background-color: transparent;
}

.bg-search .search-form-sm .form-control::placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search .search-form-sm .input-group-text{
  border: none;
  background-color: transparent;
  color: #737373;
  font-weight: 600;
  padding-left: 22px;
}

.bg-search .search-form-sm .search-btn .main-btn{
  height: 100%;
  border-radius: 12px;
}

/* === PROJECT START */
.single-project{
  margin-bottom: 40px;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
}

.bg-content{
  margin-top: 40px;
}

.single-project .project-image {
  width:100%;
  position:relative;

}

.project-image .status-content{
  position:absolute;
  left: 18px;
  top: 18px;
  background-color:#2432C1;
  color:#fff;
  padding: 3px 10px ;
  border-radius: 8px;
  font-weight: bold;
}

.project-image .status-content-sewa{
  position:absolute;
  left: 18px;
  top: 18px;
  background-color:#73C124;
  color:#fff;
  padding: 3px 10px ;
  border-radius: 8px;
  font-weight: bold;
}

.project-image .status-content-bekas{
  position:absolute;
  left: 18px;
  top: 18px;
  background-color: #24A5C1;
  color:#fff;
  padding: 3px 10px ;
  border-radius: 8px;
  font-weight: bold;
}

.project-image .status-content > p{
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
}

.project-content-top .project-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 11px;
  font-family: 'Quicksand';
}

.project-content-top .project-alamat{
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  margin-bottom: 24px;
  color: #737373;
}

.single-project .project-image > img {
  width:100%;
  border-radius: 18px;
}

.project-content-middle .project-content-middle-items{
  padding-right: 30px;
}

.project-content-middle .project-content-middle-items > p{
  line-height: 30px;
  font-size: 24px;
  font-weight: 600;
  margin-left: 5px;
}

.project-content-middle .project-content-middle-items > span{
  line-height: 22.5px;
  font-size: 18px;
  font-weight: 600;
}

.project-content-bottom .price > p{
  line-height: 30px;
  font-weight: 700;
  font-size: 24px;
}

.project-content-bottom{
  margin-top : 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.project-content-bottom .price > span {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  color: #737373;
}

.project-content-bottom .main-btn{
  font-weight: bold;
}

/* === WORKS START; */
.bg-works{
  background-color: #F8F8F8;
  padding-top: 70px;
  padding-bottom: 55px;
  margin-top:150px;
}

.bg-works .bg-works-title h2{
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 80px;
}

.bg-works .works-image{
  margin-bottom: 25px;
}

.works-content h3{
  font-weight: bold;
  font-size:24px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: 'Quicksand' !important;
}

.works-content p{
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.works-content{
  max-width: 80%;
}
/* === WORKS END; */

/* === LAYANAN START */
.bg-layanan{
  margin-top:100px;
  margin-bottom: 100px;
}

.bg-layanan .bg-layanan-title h2{
  font-size: 38px;
  line-height: 58px;
  margin-bottom: 15px;
}

.bg-layanan .bg-layanan-title p{
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  width: 80%;
  margin: auto;
}

.bg-layanan .single-layanan{
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
  padding : 13px 28px 13px 28px;
  border-radius: 18px;
}

.single-layanan .title-layanan h3{
  font-weight: 700;
  font-size: 32px;
  line-height: 58px;
  font-family: 'Quicksand';
}

.single-layanan .title-layanan h3 > span{
  color: #2432C1;
}

.content-layanan p{
  color: #737373;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  margin-top: 15px;
}
/* === LAYANAN END */

/*===== Testimoni =====*/
.bg-testimoni{
  padding: 100px 0;
  text-align: center;
  overflow-x: hidden;
}

.bg-testimoni .title-testimoni .quotes-icon{
  font-size: 120px;
  font-family: "Alata";
  color: rgba(36, 50, 193, 0.1);
}

.bg-testimoni .title-testimoni h1{
  margin-top: -20px;
  font-size: 38px;
}

.bg-testimoni .splide{
  margin-top: 50px;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.03);
}

.bg-testimoni #testimoni-2{
  margin-top: 0px;
}

.bg-testimoni .splide__slide{
  margin: 15px;
  cursor: pointer;
  text-align: left;
  border-radius: 14px;
  background: #fff;
  padding: 24px;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.05);
}

.bg-testimoni .top-testimoni {
  display: flex;
}

.bg-testimoni .top-testimoni .img-user-testimoni{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.bg-testimoni .top-testimoni .img-user-testimoni img{
  width: 100%;
  object-fit: cover;
}

.bg-testimoni .top-testimoni .desc-user-testimoni{
  margin-left: 15px;
  margin-top: 5px;
}

.bg-testimoni .top-testimoni .desc-user-testimoni h5{
  font-family: "Quicksand";
  font-weight: 600;
}

.bg-testimoni .top-testimoni .desc-user-testimoni p{
  color: #737373;
  font-weight: 600;
}

.bg-testimoni .text-testimoni p{
  margin-top: 10px;
  color: #737373;
  font-weight: 400;
  line-height: 24px;
}

/* === BERLANGGANAN START */
.bg-berlangganan{
  margin-bottom: 150px;
}

.bg-berlangganan .bg-blue{
  padding: 80px;
  border-radius: 24px;
  background-color: #2432C1;
  position: relative;
}

.bg-berlangganan .title-berlangganan h2{
  font-weight: bold;
  font-size: 38px;
  color:#fff;
  line-height: 58px;
  font-family: 'Quicksand';
  margin-bottom: 10px;
}

.bg-berlangganan .title-berlangganan p{
  font-size: 20px;
  color:#fff;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 50px;
}

.search-berlangganan{
  max-width: 50%;
  margin: 0 auto;
}

.search-berlangganan .form-control::placeholder{
  color: #D2D2D2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.search-berlangganan .form-control{
  border:none;
}

.search-berlangganan .btn{
  background-color:#2432C1;
  color: #fff;
  padding: 14px 32px 14px 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  border-radius: 10px !important;
}

.search-berlangganan .btn:hover{
  background-color: #8dc8f2;
  color: #fff;
  border-color: #8dc8f2;
}

.search-berlangganan .input-group{
  background-color:#fff;
  padding:8px;
  border-radius: 10px;
}

.bg-blue .img-top{
  position:absolute;
  top: 25px;
  right: 25px;
}

.bg-blue .img-bottom{
  position:absolute;
  bottom: 25px;
  left: 25px;
}
/* === BERLANGGANAN END */

/*===== Footer =====*/
.bg-footer{
  margin-top: 100px;
}

.bg-footer .desc-footer{
  display: none;
}

.bg-footer .main-footer{
  width: 75%;
}

.bg-footer .main-footer img{
  max-width: 150px;
}

.bg-footer .main-footer p{
  color: #737373;
  font-weight: 600;
  margin-top: 15px;
}

.bg-footer .main-footer .address{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.bg-footer .footer li h5{
  margin-bottom: 10px;
}

.bg-footer .footer li a{
  margin: 10px 0;
  color: #737373;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.bg-footer .footer li a:hover{
  color: #000;
}

.bg-footer .footer-second{
  padding-left: 30px;
}

.bg-footer-copyright{
  margin-top: 70px;
  border-top: 2px solid rgba(115, 115, 115, 0.14);
  padding-top: 15px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.bg-footer-copyright p{
  color: #737373;
  font-weight: 500;
  font-size: 14px;
}

.bg-footer .footer img{
  max-width: 30px;
}


@media (min-width: 1200px ) and (max-width: 1376px){
  .bg-hero .hero .title-hero{
    padding-left: 40px;
    padding-top: 30px;
    width: 65%;
  }

  .bg-hero .hero .title-hero h1{
    font-size: 52px;
  }

  .bg-hero .hero .title-hero p{
    margin-top: 30px;
    font-size: 20px;
    max-width: 80%;
  }

  .single-layanan .span-transparant{
    color: #2432C1;
    padding : 30px 0px 30px 0px;
  }

  .bg-testimoni .desc-user-testimoni h5{
    font-size: 14px;
  }

  .bg-testimoni .desc-user-testimoni p{
    font-size: 12px;
    line-height: 1.2;
  }

  .bg-testimoni .top-testimoni .img-user-testimoni{
    width: 40px;
    height: 40px;
  }

}

@media (min-width: 992px ) and (max-width: 1199px){
  .bg-hero .hero .title-hero{
    padding-left: 40px;
    padding-top: 30px;
    width: 65%;
  }

  .bg-hero .hero .title-hero h1{
    font-size: 46px !important;
  }

  .bg-hero .hero .title-hero p{
    margin-top: 30px;
    font-size: 20px;
    max-width: 80%;
  }

  .bg-search .search-form .form-label{
    font-size: 14px;
  }


  .project-content-bottom .price > p{
    line-height: 22.5px;
    font-weight: 700;
    font-size: 19px;
    margin-top: -20px;
  }
  
  .project-content-bottom{
    margin-top : 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .bg-layanan .single-layanan{
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
    padding : 13px 28px 13px 28px;
    border-radius: 10px;
  }
  
  .single-layanan .title-layanan h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
  }
  
  .single-layanan .span-transparant{
    color: #2432C1;
    padding : 19px 0px 19px 0px;
  }

  .bg-testimoni .desc-user-testimoni h5{
    font-size: 14px;
  }

  .bg-testimoni .desc-user-testimoni p{
    font-size: 12px;
    line-height: 1.2;
  }

  .bg-testimoni .top-testimoni .img-user-testimoni{
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }

}

@media (max-width: 992px){
  .navbar{
    background-color: #F8F8F8;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse{
    padding-top: 10px;
  }

  .navbar .nav-item{
    margin: 5px 0px;
    text-align: right;
    margin-right: 15px;
  }

  .navbar-btn{
    margin-top: 10px;
    width: 100%;
    padding: 15px 30px;
  }

  .bg-hero .hero .title-hero{
    padding-left: 40px;
    padding-top: 30px;
    width: 65%;
  }

  .bg-hero .hero .title-hero h1{
    font-size: 28px;
  }

  .bg-hero .hero .title-hero p{
    margin-top: 20px;
    font-size: 18px;
    max-width: 80%;
  }

  .bg-search .form-group{
    margin-bottom: 20px;
  }

  .bg-search .search-btn{
    height: 60% !important;
    margin-top: 20px;
  }

  .bg-search .search-btn .main-btn{
   border-radius: 10px;
  }

  .content-layanan p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .bg-layanan{
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .bg-testimoni .title-testimoni .quotes-icon{
    font-size: 95px;
  }

  .bg-testimoni .title-testimoni h1{
    margin-top: -10px;
    font-size: 28px;
  }

  .bg-berlangganan{
    margin-bottom: 150px;
  }
  
  .bg-berlangganan .bg-blue{
    padding: 48px 60px 48px 60px;
    border-radius: 14px;
  }
  
  .bg-berlangganan .title-berlangganan h2{
    font-size: 34px;
    line-height: 33.12px;
  }
  
  .bg-berlangganan .title-berlangganan p{
    font-size: 20px;
    color:#fff;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .search-berlangganan{
    max-width: 80%;
    margin: 0 auto;
  }
  
  .search-berlangganan .form-control::placeholder{
    font-size: 18px;
    line-height: 17.5px;
    font-weight: 700;
  }
  
  .search-berlangganan .btn{
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 17.5px;
    border-radius: 8px !important;
  } 

  .bg-blue .img-top{
    display: none;
  }
  
  .bg-blue .img-bottom{
    display:none;
  }

   .bg-footer{
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
    padding-top: 50px;
  }

  .bg-footer .desc-footer{
    display: block;
  }

  .bg-footer .desc-footer p{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(126, 127, 151, 0.14);
    margin-bottom: 30px;
  }

  .bg-footer .main-footer{
    width: 100%;
  }

  .bg-footer .main-footer p{
    display: none;
  }

  .bg-footer .main-footer .address{
    display: block;
  }

  .bg-footer .footer{
    margin-top: 30px;
  }

  .bg-footer .footer ul li{
    display: inline-block;
    margin-right: 20px;
  }
  
  .bg-footer .footer-third ul li{
    display: block;
  }
  
  .bg-footer .footer-second{
    padding-left: 0px;
  }

}

@media (max-width: 768px){  
  .navbar{
    padding: 25px 10px;
  }

  .bg-hero .hero .title-hero{
    padding-top: 45px;
    padding-left: 30px;
    width: 70%;
  }
  
  .bg-search{
    margin-top: 30px;
  }

  .bg-search .search-form{
    display: none;
  }

  .bg-search .search-form-sm{
    display: block !important;
  }

  .bg-search .search-form-sm .col-8{
    padding-right: 0;
  }

  .bg-search .search-form-sm .input-group-text{
    padding-left: 15px;
  }

  .bg-search .search-form-sm .form-control{
    font-size: 14px;
  }

  .bg-search .search-form-sm .main-btn{
    padding: 0;
    border-radius: 12px;
    margin: 0;
  }  

  .single-project{
    margin-bottom: 40px;
    border-radius: 24px;
    padding: 10px 10px 16px 10px;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }

  .bg-content{
    margin-bottom: -100px;
  }

  .project-content-top .project-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    margin-top: 8px;
    margin-bottom: 4px;
  }
  
  .project-content-top .project-alamat{
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 8px;
    color: #737373;
  }

  .project-image .status-content{
    position:absolute;
    left: 12px;
    font-size: 12px;
    top: 12px;
    background-color:#2432C1;
    color:#fff;
    padding: 0px 10px ;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .project-image .status-content-sewa{
    position:absolute;
    left: 12px;
    font-size: 12px;
    top: 12px;
    background-color:#73C124;
    color:#fff;
    padding: 0px 10px ;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .project-image .status-content-bekas{
    position:absolute;
    font-size: 12px;
    left: 12px;
    top: 12px;
    background-color: #24A5C1;
    color:#fff;
    padding: 0px 10px ;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .project-content-middle .project-content-middle-items > img{
    width: 18px;
    height: 18px;
  }

  .project-content-middle .project-content-middle-items > p{
    line-height: 17.5px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .project-content-middle .project-content-middle-items > span{
    line-height: 12.5px;
    font-size: 10px;
    font-weight: 600;
  }
  
  .project-content-bottom .price > p{
    line-height: 22.5px;
    font-weight: 700;
    font-size: 18px;
    margin-top: -20px;
  }
  
  .project-content-bottom{
    margin-top : 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .project-content-bottom .price > span {
    display:none;
  }
  .project-content-bottom .main-btn {
    display: none;
  }

  .bg-works .single-works{
    text-align: center;
    margin-bottom: 32px;
  }
  
  .bg-works .bg-works-title h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 58px;
    margin-bottom: 0px;
    text-align:center;
  }
  
  .bg-works .works-image{
    margin-bottom: 25px;
  }
  
  .works-content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 22.5px;
    margin-bottom: 10px;
  }
  
  .works-content p{
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  
  .works-content{
    max-width: 90%;
    margin:0 auto;
  }

  .bg-layanan{
    margin-top: 80px;
    margin-bottom: 70px;
  }
  
  .bg-layanan .bg-layanan-title h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 58px;
  }
  
  .bg-layanan .bg-layanan-title p{
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-width: 90%;
    margin:0 auto;
  }
  
  .bg-layanan .single-layanan{
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
    padding : 13px 28px 13px 28px;
    border-radius: 10px;
  }
  
  .single-layanan .title-layanan h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
  }
  
  .single-layanan .title-layanan h3 > span{
    color: #2432C1;
  }
  
  .content-layanan p{
    color: #737373;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .bg-berlangganan{
    margin-bottom: 150px;
  }
  
  .bg-berlangganan .bg-blue{
    padding: 24px 20px 24px 20px;
    border-radius: 14px;
  }
  
  .bg-berlangganan .title-berlangganan h2{
    font-size: 24px;
    line-height: 33.12px;
  }
  
  .bg-berlangganan .title-berlangganan p{
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .search-berlangganan{
    max-width: 100%;
    margin: 0 auto;
  }
  
  .search-berlangganan .form-control::placeholder{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 700;
  }
  
  .search-berlangganan .btn{
    padding: 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.5px;
    border-radius: 8px !important;
  } 

  .bg-blue .img-top{
    display: none;
  }
  
  .bg-blue .img-bottom{
    display:none;
  }

  .bg-footer-copyright{
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width:769px){
  .search-berlangganan{
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 557px) and (max-width:767px){
  .bg-hero .bg-hero-img{
    height: 350px !important;
    object-fit: cover;
  }

  .bg-testimoni .desc-user-testimoni h5{
    margin-top: 5px;
    font-size: 14px;
  }

  .bg-testimoni .desc-user-testimoni p{
    font-size: 12px;
    line-height: 1.2;
  }

  .bg-testimoni .top-testimoni .img-user-testimoni{
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }

  .bg-testimoni .text-testimoni p{
    font-size: 14px;
    margin-top: 5px;
  }
}

@media (min-width: 556px) and (max-width:580px){
  .bg-testimoni .top-testimoni .img-user-testimoni{
    width: 30px;
    height: 30px;
  }

  .bg-testimoni .desc-user-testimoni h5{
    margin-top: 0;
  }

  .bg-testimoni .desc-user-testimoni p{
    display: none;
}
}