@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
button,
input,
textarea {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a,
a:focus,
input:focus,
textarea:focus,
button:focus,
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Alata", sans-serif;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  border-radius: 18px;
  padding: 10px 30px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background: #2432C1;
}

.main-btn:hover{
  background-color: #8dc8f2;
  color: #fff;
}

/===== Header =====/
.bg-header{
  position: relative;
  width: 100%;
  height: 100px;
}

.navbar{
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08) ;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-top: -1px;
}

.navbar .navbar-brand img{
  max-width: 150px;
}

.navbar .nav-item{
  margin: 0 20px;
  font-weight: 500;
  color: #737373;  
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar .nav-item:hover{
  color: #000;
  font-weight: 700;
}

.navbar .nav-item .nav-link.active{
  color: #000;
  font-weight: 700;
}

.navbar-toggler{
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggler-icon{
  position: relative;
  background-image: unset;
  background-color: #2432C1;
  height: 3px;
  margin: 4px 0;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .navbar-toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -12px;
}

/*===== Search Form =====*/
.bg-search-detail{
  margin-top: 110px;
}

.bg-search-detail .search-form-detail{
  background-color: #fff;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 24px;
}

.bg-search-detail .search-form-detail .form-label{
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.bg-search-detail .search-form-detail .form-control,
.bg-search-detail .search-form-detail .form-select{
  background-color: #F8F8F8;
  border: none;
  padding: 14px 22px;
  color: #000;
  font-weight: 500;
}

.bg-search-detail .search-form-detail .form-control::placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search-detail .search-form-detail .form-control::-ms-input-placeholder,
.bg-search-detail .search-form-detail .form-select::-ms-input-placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search-detail .search-form-detail .input-group-text{
  border: none;
  color: #737373;
  font-weight: 600;
  padding-left: 22px;
}

.bg-search-detail .search-form-detail .search-btn{
  height: 100%;
}

/*===== Search From Small Screen =====*/
.bg-search-detail .search-form-sm{
  display: none;
}

.bg-search-detail .search-form-sm .input-group{
  border: 0.1px solid rgba(115, 115, 115, 1);
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
}

.bg-search-detail .search-form-sm .form-control{
  border: none;
  padding: 14px 0px;
  color: #000;
  font-weight: 500;
  background-color: transparent;
}

.bg-search-detail .search-form-sm .form-control::placeholder{
  color: #D2D2D2;
  font-weight: 600;
}

.bg-search-detail .search-form-sm .input-group-text{
  border: none;
  background-color: transparent;
  color: #737373;
  font-weight: 600;
  padding-left: 22px;
}

.bg-search-detail .search-form-sm .search-btn .main-btn{
  height: 100%;
  border-radius: 12px;
}

/* Detail-Property */
.bg-detail-property{
  margin-top: 40px;
}

.bg-detail-property .property-titile h2{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  size: 28px;
}

.bg-detail-property .property-location h4{
  color: #737373;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  size: 24px;
}

.bg-detail-property .back-property {
  background-color: #2432C1;
  width: 50px;
  height: 75px;
  color: #fff;
  border-radius: 8px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.bg-detail-property .back-property img {
  margin-top: 28px;
  margin-left: 17px;
  transition: transform 0.3s ease;
  position: absolute;
}

/* Animasi untuk hover */
.bg-detail-property .back-property:hover img {
  animation: move-left-right 1s;
}

@keyframes move-left-right {
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(30px);
  }
}

.bg-detail-property .property-value{
  text-decoration: none;
  padding: 20px 55px;
  margin-bottom: 25px;
  color: #2432C1;
  border-radius: 8px;
  border: 2px solid #1238bf;    
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  justify-content: end;
}

.open-location-top a {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
}

.open-location-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px; 
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.open-location-top .map-icon {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.open-location-top:hover {
  background-color: #2432C1;
}

.open-location-top:hover a {
  color: #fff;
}

.open-location-top .hover {
  display: none;
}

.open-location-top:hover .hover {
  display: inline-block;
}

.open-location-top:hover .default {
  display: none;
}

/* Swiper */
.swiper-card{
  height: auto;
  width: auto;
}

.swiper-card .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-card .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-card .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%; 
  height: 520px;
  object-fit: cover; 
  max-height: 520px; 
}

.swiper-wrapper .swiper-slide{
  width: 966px;
}

.swiper-card .swiper-horizontal .swiper-pagination{
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 50px;
  padding: 0px 12px;
  width: auto;
  margin-left: 40%;
  margin-right: 30%;
}

.swiper-card .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: #fff;
}

.swiper-card .swiper-button-next{
  background-color: #383939;
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
  color: #fff;
}

.swiper-card .swiper-button-next:after{
  font-size: 20px;
}

.swiper-card .swiper-button-prev:after{
  font-size: 20px;
}

.swiper-card .swiper-button-prev{
  background-color: #383939;
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
  color: #fff;
}

/*===== Footer =====*/
.bg-footer{
  margin-top: 100px;
}

.bg-footer .desc-footer{
  display: none;
}

.bg-footer .main-footer{
  width: 75%;
}

.bg-footer .main-footer img{
  max-width: 150px;
}

.bg-footer .main-footer p{
  color: #737373;
  font-weight: 600;
  margin-top: 15px;
}

.bg-footer .main-footer .address{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.bg-footer .footer li h5{
  margin-bottom: 10px;
}

.bg-footer .footer li a{
  margin: 10px 0;
  color: #737373;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.bg-footer .footer li a:hover{
  color: #000;
}

.bg-footer .footer-second{
  padding-left: 30px;
}

.bg-footer-copyright{
  margin-top: 70px;
  border-top: 2px solid rgba(115, 115, 115, 0.14);
  padding-top: 15px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.bg-footer-copyright p{
  color: #737373;
  font-weight: 500;
  font-size: 14px;
}

.bg-footer .footer img{
  max-width: 30px;
}

@media (min-width: 992px ) and (max-width: 1199px){
  .bg-search-detail .search-form-detail .form-label{
    font-size: 14px;
  }
}

@media (max-width: 992px){
  .navbar{
    background-color: #F8F8F8;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse{
    padding-top: 10px;
  }

  .navbar .nav-item{
    margin: 5px 0px;
    text-align: right;
    margin-right: 15px;
  }

  .navbar-btn{
    margin-top: 10px;
    width: 100%;
    padding: 15px 30px;
  }

  .bg-search-detail .form-group{
    margin-bottom: 20px;
  }

  .bg-search-detail .search-btn{
    height: 60% !important;
    margin-top: 20px;
  }

  .bg-search-detail .search-btn .main-btn{
   border-radius: 10px;
  }

  .bg-footer{
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.08);
    padding-top: 50px;
  }

  .bg-footer .desc-footer{
    display: block;
  }

  .bg-footer .desc-footer p{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(126, 127, 151, 0.14);
    margin-bottom: 30px;
  }

  .bg-footer .main-footer{
    width: 100%;
  }

  .bg-footer .main-footer p{
    display: none;
  }

  .bg-footer .main-footer .address{
    display: block;
  }

  .bg-footer .footer{
    margin-top: 30px;
  }

  .bg-footer .footer ul li{
    display: inline-block;
    margin-right: 20px;
  }
  
  .bg-footer .footer-third ul li{
    display: block;
  }
  
  .bg-footer .footer-second{
    padding-left: 0px;
  }
}

@media (max-width: 556px){
  .bg-footer{
    padding: 50px 10px;
    padding-bottom: 0px;
  }
}

/* === RESPONSIVE END === */